
  /*------PROFILE SECTION------*/
  .profile{
    container-type: inline-size;
    container-name: profile;
  }
  .profile__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:transparent;
    max-width: 1400px;

  }
  .profile__data-container{
    max-width: 600px;
    padding: 12px;
  }
  .profile__img-container{
    max-height: 500px;
    overflow: hidden;
  }
  .profile__img{
    max-width: 100%;
    width: 600px;
  }  
  h1{
    color: #26a;
  }
.profile__skills-container h2{
    color: #26a;
}
.profile__skill{
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    align-items: center;
}
.load-bar{

    border: 2px solid #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;

}
.profile__skill-name{
    color: #26a;
    
}
.load-bar__bar{
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
}
.bar--80{
    width: 80%;
}
.bar--70{
    width: 70%;
}
.bar--60{
    width: 60%;
}
.bar--90{
    width: 90%;
}
/*------PROFILE QUERIES------*/
@container profile (min-width: 875px){
    .profile__wrapper{
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        height: 90vh;
        margin: auto;

    }
    .profile__data-container{
        
        display: flex;
        align-items: center;
        border-radius: 0 25px 25px 0;
        box-shadow: 0 0 20px #00000080;
    }
    h1{
        margin-top: 0;
        text-wrap: balance;
    }
    .profile__data{
        max-width: 620px;
       
    }
    .profile__img-container{
        max-height: initial;
        border-radius:25px 0 0 25px;
    }
    .profile__img{
       height: 100%;
       object-fit: cover;
       width: 620px;
       object-position: top;
    }
}
.linea-tiempo {
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linea-tiempo::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #000000;
    transform: translateX(-50%);
}

.linea-tiempo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
}

.fecha {
    font-size: 14px;
    color: gray;
    width: 40%;
    text-align: right;
    padding-right: 10px;
}

.punto {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.descripcion {
    font-size: 16px;
    width: 40%;
    text-align: left;
    padding-left: 10px;
}
@media screen and (min-width: 600px) {
    .home__description{
        font-size: 1.3rem !important;
    }
    
}

