/*------PORTFOLIO SECTION------*/
.portfolio{
    background-color: transparent;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-type: inline-size;
    container-name: portfolio;
}
.portfolio__title{
  font-size: 3rem;
  margin-bottom: 0;
  color: #48e;
}
.portfolio__project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}
.portfolio__project{
    background-image: linear-gradient(#0009,#0009), url("https://midu.dev/images/wallpapers/una-taza-de-javascript.png");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 12px;
}
.portfolio__project:hover{
  opacity: 0.74;
  outline: 2px solid #fff6;
}
.portfolio__project-link{
  text-decoration: none;
  color: yellow!important;
}
/*------PORTFOLIO QUERIES------*/
@container portfolio (min-width: 56.25rem){
    .portfolio__project-container{
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }
    .portfolio__project:first-child{
      grid-column: span 2;
    }
    .portfolio__project:nth-child(6){
      grid-column: span 2;
    }
}
@container portfolio (min-width: 81.25rem){
  .portfolio__project-container{
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .portfolio__project:first-child{
    grid-column: span 2;
    grid-row: span 2;
  }
  .portfolio__project:nth-child(6){
    grid-column: span 4;
  }
}
/*------PORTFOLIO SECTION------*/